html {
    /* Reset para REMS - 62.5% = 10px de 16px*/
    font-size: 62.5%;
}


/** Se utiliza fuente para todo el contenido de texto de pagina **/

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}


/* Globales*/

img {
    max-width: 100%;
}

.contenedor {
    /* equivale a 1200px */
    max-width: 120rem;
    margin: 0 auto;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}


/** utilidades**/

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* Header*/

.site-header.inicio {
    background: url(/img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
    /* equivale a 600px */
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 1.8rem;
    max-width: 60rem;
    line-height: 2;
    /* es espacion intercalado entre dos texto " ANTES <b> "*/
}


/* utilizar flexbox*/

.barra {
    display: flex;
    justify-content: space-between;
    /* se utiliza flex box " alinear texto con logo" */
    align-items: center;
    padding-top: 3rem;
    /* equivale a 30px */
}


/**navegacion**/

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    /* equivale a 18px */
    margin-right: 2rem;
    /** equivale a 20px */
}


/* se utiliza para dar color al seleccionar una casilla*/

.navegacion a:hover {
    color: #71b100;
}

.navegacion a:last-of-type {
    margin: 0;
}


/* iconos nosotros */

.fw-300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.icono {
    flex-basis: calc(33.3% - 1rem);
    /** al utilizar flex box se utiliza basis RESPOSIVE WEB **/
    text-align: center;
    /** Se utiliza para alinear el texto e imagenes **/
}

.icono h3 {
    text-transform: uppercase;
}


/** anuncios **/

.contenedor-anuncios {
    display: flex;
    justify-content: space-between;
}

.anuncio {
    flex-basis: calc(33.3% - 1rem);
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
}

.contenido-anuncio {
    padding: 2rem;
}